<div class="media-body">
   <h2>Posts</h2>
	<% if user.posts.any? %>
   		<%= render user.posts %>
	<% else %>
   		<%= user.name %> has not submitted any posts yet.
	<% end %>

   <h2>Comments</h2>
	<% if user.comments.any? %>
   		<%= render user.comments %>
	<% else %>
   		<%= user.name %> has not submitted any comments yet.
	<% end %> 
</div>
