<h1>Welcome to blocit</h1>
<p>A Reddit replica to teach the fundamentals of web development and Rails.</p>
<p>Technology: HTML, CSS, Ruby on Rails, Heroku Sendgrid mail server, ActionMailer client, and Figaro to setup environment variables.</p>
