<h1>Welcome to blocit</h1>
<p>This is a Reddit replica to teach the fundamentals of web development and Rails. </p>

<p>This is a self contain application except for a notification feature which emails users when one of their favorited 
posts receives a new comment.</p>

<p>Users are created as regular Member by default.</p>
   <ul>
    <li>Admin: 	Can create, update, or delete any TOPIC or POST.</li>
    <li>Member:	Can create, update, or delete only their own POST.</li>
    <li>Guest:	   Can only read </li>
   </ul>
<p>The ability to switch from one role to another has not been implemented.</p>
<p>For testing purposes a member user (user[n]@yahoo.com/password) have been created; where n is between 1 and 6.</p>